#
# normal rules
#
.*

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore

#
# node files
#
npm-debug.log
node_modules/
bower_components/

#
# codelite workspace files
#

*.workspace
