extends layout
include mixins
block menu
    +nav("HangupsWeb", "dropdown_menu", "inverse", "navbar-fixed-top sticky")
        +nav_item("/") Home
        +nav_item("/admin", "active") Admin
block content
    .row
    h1= title
    p Welcome to #{title}