extends layout
include mixins

block menu
    +nav("BlackCanary", "dropdown_menu", "inverse", "navbar-fixed-top sticky")
        +nav_item("/", "active") Home
        +nav_item("/admin") Admin

block content
    .row
    h1= title
    p Welcome to #{title}

    div(ng-controller="testController")
        p Test Controller
            input(type="text", placeholder="package name", ng-model="packageName"
                title="Enter package module to see update statistics")
            button.btn(ng-click="loadStats()" title="click to search") Load
            ul
                li.
                    {{"Hello"}}