extends layout
include mixins

block menu
    +nav("BlackCanary", "dropdown_menu", "inverse", "navbar-fixed-top sticky")
        +nav_item("/", "active") Home
        +nav_item("/admin") Admin

block content
    .row
    h1= title
    p Welcome to #{title}