<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="blackcanaryApp">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-controller="PhoneListCtrl">

<header>
    <% var menuLocation = "index"; %>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>BlackCanary</h1>
        <p>Welcome to BlackCanary</p>
    </div>

    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>